#a {
    width: 100%;
    display: flex;
    align-items: stretch;
}
#main {
    flex-grow:7;
    width: 80%;
    background-color: #999;
}
#side {
    flex-grow:3;
    width: 20%;
    background-color: #8ff;
}
#widget {
    margin-bottom: 20px;
}
#sticky {
    position: sticky;
    top: 20px;
}